{% extends "layout.html" %}
{% block title %}Encoded Sharing Service{% endblock %}
{% block body %}
<center>
    <section class="section">
        <div class="container">
            <h1 class="title">Encoding as a service</h1>
            {% for encoding in encodings %}
            <div class="container">
                <a href="/e/{{encoding[0]}}">{{encoding[0]}}</a>
            </div>
            {% else %}
            <p>Nothing so far. Encode! <a href="/create">here</a>.
</center>
</p>
{% endfor %}
</div>
</section>
</center>
{% endblock %}
